/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
    height: 100%;
}
body {
    height: 100%;
    background: #ffffff url('http://s33.postimg.org/th2aqp19b/WDF_747792.png') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
 strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {

	display: block;
}
body {
    padding-top: 100px;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************
***********************************/
/**********************************
***********************************/
.content
{
	margin-top: 50px;
	color: #fff;
}
.logo img
{
	display: inline-block;
}
.logo h2
{
	font-family: 'Lobster', cursive;
	font-size: 34px;
    padding-top: 40px;
}
.img
{
	margin-top: 30px;
}
.img i
{
	font-size: 44px;
}


footer {
       position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #242830;
}
.footer a
{
    color: #24B7A4;
}
.subscribe_form {
    position: relative;
}
.subscribe_form .subscribe {
    right: 0px;
    top: 0px;
    width: 160px;
    height: 50px;
    position: absolute;
    color: #FFF;
    background-color: #24B7A4;
    border: medium none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-family: "Roboto Slab",serif;
    font-size: 18px;
}


h2.subs-title  {
    font-family: 'Lobster', cursive;
    font-size: 34px;
    padding: 30px 0px 20px;
}
.subscribe_form input {
    height: 50px;
    border: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border-radius: 60px;
    color: #000;
}



.small{
    font-size: 8px;
}
body{
    overflow-x:hidden; 
}
